/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .login-heading h1 {
        font-size: 2rem;
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .login-heading h1 {
        font-size: 1.5rem;
    }
    .loginBtn {
        width: 100%;
    }
    body,body.dark-theme {
        background-position: center !important;
    }
    .form-wrapper {
        width: 65%;
    }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .login-heading h1 {
        font-size: 1.4rem;
    }
    .loginBtn {
        width: 100%;
    }
    body,body.dark-theme {
        background-position: center !important;
    }
    .form-wrapper {
        width: 65%;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .login-heading h1 {
        font-size: 1.3rem;
    }
    .loginBtn {
        width: 100%;
    }
    body, body.dark-theme {
        background-position: center !important;
    }
    .form-wrapper {
        width: 65%;
    }
}
