@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
html {
    text-rendering: optimizeLegibility;
}
body {
    font-family: 'Righteous', cursive;
    background-color: #f0f0f0;
    background-image: url('../img/web-bg-s.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    height: 90vh;
    color: #111111;
    transition: all 0.3s ease-out;
}

.form-wrapper {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}
.field {
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-bottom: 2px solid #afafaf;
    margin: 4rem auto 1rem;
    transition: 500ms;
}
.label {
    color: #afafaf;
    font-size: 1.2rem;
}
.input {
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    transition: border 500ms;
}
.input:valid {
    color: #333;
}
.input:invalid {
    color: orangered;
}
/* Border animation */
.field::after {
    content: '';
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: #111;
    transform: scaleX(0);
    transform-origin: 0%;
    opacity: 0;
    transition: all 500ms ease;
    top: 2px;
}
.field:focus-within {
    border-color: transparent;
}
.field:focus-within::after {
    transform: scaleX(1);
    opacity: 1;
}
/* Label animation */
.label {
    z-index: -1;
    position: absolute;
    transform: translateY(-2rem);
    transform-origin: 0%;
    transition: transform 400ms;
}
.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
    transform: scale(0.8) translateY(-5rem);
    opacity: 1;
    color: #111;
}

.loginBtn {
    width: 85px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    transition: all 0.3s;
    border-radius: 3px;
    background: transparent;
    color: #111;
    border: 3px solid #111;
    border-radius: 3px;
}

.loginBtn:hover {
    color: #fff;
    background-color: #111;
}

.far {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
    color: #afafaf;
}

/* .far.active {
    color: #111;
} */
.active {
    transition: 500ms ease;
}
.active::before {
    content: '🙈';
}

/* theme styles */

body.dark-theme {
    background: #222;
    color: #fff;
}
#change-theme-btn {
    font: inherit;
    padding: 0.1em 0.25em;
    border: 0;
    border-radius: 15px;
    outline: 0;
    color: #fff;
    cursor: pointer;
    transition: all 0.15s ease-out;
    position: relative;
    background-color: transparent;
    overflow: hidden;
}
#change-theme-btn::before,
#change-theme-btn::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    transition: all 0.3s ease-out;
}
#change-theme-btn::after {
    background-color: #fff;
    left: 100%;
}

.dark-theme #change-theme-btn {
    color: #222;
}
.dark-theme #change-theme-btn::before {
    left: -100%;
}
.dark-theme #change-theme-btn::after {
    left: 0;
}
.dark-theme .label {
    color: #fff;
}
.dark-theme .loginBtn {
  background-color: #fff;
  color: #111;
  border: 3px solid #fff;
}
.dark-theme .loginBtn:hover {
  color: #fff;
  background-color: #111;
}

.dark-theme .field:focus-within .label,
.dark-theme .input:not(:placeholder-shown) + .label {
    transform: scale(0.8) translateY(-5rem);
    opacity: 1;
    color: #fff;
}
.dark-theme .field::after {
  background: #fff;
}

.dark-theme .input:valid {
  color: #fff;
} 